---
layout: default
---

<div id="home">
  <h1>{{ site.title }}</h1>
  <p>The TOM Toolkit project was started in early 2018 with the goal of simplifying the development of next generation
    software for the rapidly evolving field of astronomy. Read more <a href="/about">about TOMs</a> and the motivation for them.</p>
  <p>Are you looking to run a TOM of your own? The <a href="/docs">documentation</a> is a good place to get started. The source code for the project is also available on Github.</p>
  <hr />

  <h1>Workshop: Managing Follow-up Observations in the Era of ZTF</h1>
  <p>LSST Corporation and Las Cumbres Observatory will be hosting a workshop from September 30 to October 4, 2019, with a strong focus on interactive TOM Toolkit development and instruction. The workshop will culminate in a call for proposals that will be awarded with mini-grants and telescope time on LCO's global telescope network. If you have an interest in developing a TOM for your science case, you can apply, get more information, or subscribe to the mailing list on the <a href="https://lco.global/workshops/tom-toolkit-community-workshop/">workshop homepage.</a></p>
  <hr />

  <h1>Upcoming Conferences</h1>
  <h4>9th LSST Project and Community Workshop</h3>
  <p>The TOM Toolkit and TOM-related topics will be discussed in a number of presentations at the <a href='https://project.lsst.org/meetings/lsst2019/'>LSST Project and Community Workshop</a> from August 12th to August 16th.</p>
  <ul>
    <li><a href='https://project.lsst.org/meetings/lsst2019/content/advances-alert-followup-system'>Advances on an Alert Followup System</a>, by Bryan Miller, 8/13 1:30-3:00 PM</li>
    <li><a href='https://project.lsst.org/meetings/lsst2019/content/bringing-alert-stream-public'>Bringing the Alert Stream to the Public</a>, by Lauren Corlies, 8/14 1:30-3:00 PM</li>
    <li><a href='https://project.lsst.org/meetings/lsst2019/content/preparing-do-transient-and-variable-star-science-lsst'>Preparing to do Transient and Variable Star Science with LSST</a>, Rachel Street, et al, 8/16 9:00-10:30 AM</li>
  </ul>
  <h4>Hot-Wiring the Transient Universe</h3>
    <p>The TOM Toolkit and examples TOMs will be demonstrated in a number of presentations at <a href='https://sites.northwestern.edu/hotwired6/program/'>Hot-wiring the Transient Universe</a> from August 19th to August 23th.</p>
    <ul>
      <li>Demo Session on MARS, by David Collom, 8/19 2:25-2:45 PM</li>
      <li>Talks and Demo on LCO TOMs, by Rachel Street, Tim Lister, and Jamison Burke, 8/20 11:40-12:30 PM</li>
      <li>Hack Session: Hands-On TOM Toolkit Set-up and Customization Workshop, by David Collom, 8/22 2:00 PM - 5:00 PM</li>
    </ul>
  <hr />

  <ul class="posts">
    {% for post in paginator.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <ul class="pagination pagination-sm">
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
      {% endif %}

      <li><a href="/">First</a></li>

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
        {% elsif page == 1 %}
          <li><a href="/">{{ page }}</a></li>
        {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      <li><a href="/page/{{ paginator.total_pages }}/">Last</a></li>

      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</div><!-- end #home -->
